.drum{
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3),
    12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}

.drum:active{
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, .25) inset,
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3) inset;
}

.drum:hover{
    opacity: 80%;
}

.drum_oscillator_buttons{
    /* background-color: #7946AF; */
    background-image: linear-gradient(to right, #924CAF , #3B4EAF);
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3),
    12px 12px 16px 0 rgba(255, 255, 255, 0.303) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}

.drum_oscillator_buttons:active{
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, .25) inset,
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3) inset;
}

.drum_oscillator_buttons_pressed{
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, .25) inset,
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3) inset;
}

.sb{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    
}
.sb:hover {
    background-color: yellow !important;
  }
.parent{
    display:flex  !important;
    width: 600px;
    flex-wrap: wrap;
    /* flex-wrap:wrap-reverse !important; */
    position: relative;
}
.child{
    flex: 1 0 5%; /* explanation below */
    position: relative;
    margin: 5px;
    height: 100px;
    width: 100px;
    background-color: blue;
}

.lolz{
    background-image: linear-gradient(to left, rgb(176, 38, 255),rgb(14, 232, 228),rgb(57, 255, 20), rgb(255, 255, 0))
}


#kalimba{
    background-image: url("./img/1027450.png");
    background-repeat: no-repeat;
}

.kalimbakeys:active{
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, .25) inset,
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3) inset;
}

#trombone {
    background-image: url("./img/trombone1.png");
    background-repeat: no-repeat;

}

.trumb{
    background-color: "#b89e49";
}

.tromb_oscillator_buttons{
    font-family: American Typewriter, serif;
    background-image: linear-gradient(to right, #b89e49 , #835510);
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3),
    12px 12px 16px 0 rgba(255, 255, 255, 0.303) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}

.tromb_oscillator_buttons:active{
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, .25) inset,
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3) inset;
}

.tromb_oscillator_buttons_pressed{
    background-image: linear-gradient(to right, #835510 , #b89e49);
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, .25) inset,
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3) inset;
}